<ion-header>
    <ion-toolbar>
        <ion-title> {{data.title}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button>返回</ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
        <img src="\assets\images\{{ data.photoURL }}" />

        <ion-card-header>
            <ion-list>
                <ion-card-title> {{ data.title }} </ion-card-title>
            </ion-list>
        </ion-card-header>

        <ion-card-content>
            <p> {{ data.intro }} </p>
        </ion-card-content>

    </ion-card>


    <!--按鈕超連結建議用 [routerLink] 做處理 格式為: ""中夾[] 連結位置用''包住-->
    <!-- <ion-button color="warning" expand="block" [routerLink]="['/home']">
        返回首頁
    </ion-button> -->

</ion-content>