<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            首頁
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list>
        <!--（click） => 點擊時的事件繫節-->
        <ion-item *ngFor="let l of places" (click)="detail(l.id)">
            <ion-label class="insidecontainer">
                {{ l.title }}
            </ion-label>
            <ion-thumbnail slot="start">
                <img class="img" src="/assets/images/{{ l.photoURL }}">
            </ion-thumbnail>
        </ion-item>
    </ion-list>


    <!--按鈕超連結建議用 [routerLink] 做處理 格式為: ""中夾[] 連結位置用''包住-->
    <!-- <ion-button color="warning" expand="block" [routerLink]="['/detail']">
        下一頁
    </ion-button> -->

</ion-content>